@font-face {
  font-family: "Actay Wide";
  src: url("../fonts/actay-wide-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Actay Condensed";
  src: url("../fonts/actay-condensed-thin.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Black";
  src: url("../fonts/black-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto-sans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}